*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.navbar{
    background-color: #090F26;
}
.navbar a{
    color: #fff;
}
.navbar a:hover{
    color: #3afa5a;
}
.about{
    color: #fefefe;
    margin: 1rem;
}
.about p{
    font-size: 1.25rem;
}
.about-button{
    width: 100%;
    text-align: center;
}
.hobby{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    color: #fefefe;
}
.card-deck{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    flex-wrap: wrap;
}
.card{
    width: 360px;
    height: 220px;

    margin: 1rem;
}
@media only screen and (max-width: 860px) {
    .card-deck{
        flex-direction: column;
    }
    .card{
        width: 250px;
        height: 130px;
    
    }
    
  }
